@foreach(var item in Model)
{
    <div class="list-group-item">
        <div class="list-group-item-heading">
            <div class="user"><i class="icon-user"></i>@item.Author </div>
            <div class="text-muted pull-right"><i class="icon-time"></i>@item.PublishOn</div>
        </div>
        <div class="list-group-item-text">
            @item.Content
        </div>
    </div>
}
