<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Blog
                        <li>
                        <li><a asp-controller="Posts" asp-action="GetAll">Home</a></li>
                        <li><a asp-controller="Posts" asp-action="GetAll">About</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Archives
                        <li>
                        <li><a asp-controller="Posts" asp-action="GetAll">Popular posts</a></li>
                        <li><a asp-controller="Posts" asp-action="GetAll">Last week</a></li>
                        <li><a asp-controller="Posts" asp-action="GetAll">Last month</a></li>
                        <li><a asp-controller="Posts" asp-action="GetAll">Last year</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Social
                        <li>
                        <li><a href="https://www.linkedin.com/in/raphael-rfa/">Facebook</a></li>
                        <li><a href="https://www.linkedin.com/in/raphael-rfa/">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/in/raphael-rfa/">Google+</a></li>
                        <li><a href="https://www.linkedin.com/in/raphael-rfa/">LinkedIn</a></li>
                        <li><a href="https://github.com/raphael-rfa">GitHub</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>Column 4
                        <li>
                        <li><a href="https://github.com/raphael-rfa">Link 1</a></li>
                        <li><a href="https://github.com/raphael-rfa">Link 2</a></li>
                        <li><a href="https://github.com/raphael-rfa">Link 3</a></li>
                        <li><a href="https://github.com/raphael-rfa">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-8">
                    <a href="https://github.com/raphael-rfa">Terms of Service</a>
                    <a href="https://github.com/raphael-rfa">Privacy</a>
                    <a href="https://github.com/raphael-rfa">Security</a>
                </div>
                <div class="col-md-4">
                    <p class="muted pull-right">© 2022 Company Name. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>